tmp/
.env
.env.local
*-console.log
.phpunit.result.cache
.idea/
*.sublime-project
*.swp
*.sublime-workspace
Thumbs.db
desktop.ini
.DS_Store
logs/
vendor/
!cache/
!cache/.htaccess
build\.log
.php_cs.cache
